body {
	min-width: 1005px;
	overflow-x: hidden;
	font-family: arial;
	font-size: 14px;
}

div#container {
	width: 1005px;
	height: 500px;
	position: fixed;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	margin-top: -10px;
	
}

div#left-bar {
	width: 200px;
	height: 500px;
	position: fixed;
	left: inherit;
	z-index: 9001;
}

div#brainstorm-list {
	width: 200px;
	height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
}

div#logo {
	width: 100px;
	height: 100px;
	margin-top: 45px;
	margin-bottom: 15px;
	margin-left: 22px;
	font-size: 16px;
}

div#company {
	margin-top: 10px;
	font-size: 16px;
}

input#session-name {
	width: 150px;
	border: 1px solid rgba(190, 190, 190, 1);
	margin-left: 20px;
	margin-bottom: 10px;
}

form.sessions {
	height: 30px;
	width: 200px;
	line-height: 30px;
	padding-left: 20px;
}

form.sessions:hover {
	background: rgba(230, 230, 230, 1);
	cursor: pointer;
}

div#navbar {	
	width: 1005px;
	height: 150px;
	position: fixed;
	left: inherit;
	background: white;
	z-index: 9000;
	
}

div#account {
	width: 200px;
	height: 30px;
	right: 0px;
	top: 25px;
	position: absolute;
	text-align: right;
	display: block;
}

input#new-idea {
	top: 60px;
	left: 212px;
	position: absolute;
	width: 200px;
}

div.idea-name {
	width: 255px;
	height: 30px;
	display: inline-block;
}

input.score {
	display: inline-block;
	width: 47px;
	height: 21px;
	border: 1px solid rgba(180,180,180,1);
}

div.avg-score {
	display: inline-block;
	margin-left: 25px;
	text-align: right;
	width: 30px;
}

a#guest-message {
	font-weight: bold;
	left:0px;
	position: absolute;
}

#account-name {
	font-weight: 500;
	cursor: pointer;
}

#account-name:hover {
	text-decoration: underline;

}

div.idea-header {	
	border-bottom: 2px solid rgba(190, 190, 190, 1);
	width: 380px;
	height: 40px;
	position: absolute;
	left: 203px;
	top: 100px;
	line-height: 42px;
	font-weight: 550;
	color: rgba(150, 150, 150, 1);
	font-size: 13px;
}

div.rated-header {	
	left: 600px;
}

div.title {
	
	height: 40px;
	width: 100px;
	display: inline-block;
	padding-left: 10px;
}

div.name {
	width: 270px;
	padding-left: 10px
}

div.idea-container {
	
	position: absolute;
	width: 380px;
	margin-top: 140px;
	left: 202px;
	height: 450px;
	overflow: auto;
}

div.rated {
	left: 600px;
}

div.idea {
	border-bottom: 1px solid rgba(220, 220, 220, 1);
	height: 40px;
	padding-left: 20px;
	line-height: 40px;
	width: 360px;
	margin-left: 3px;
}

div.rated-idea-container {
	position: absolute;
	width: 380px;
	height: 450px;
	margin-top: 140px;
	right: 25px;
	
	overflow: auto;
}



div#brainstorm-list::-webkit-scrollbar {
    width: 8px;
}

div#brainstorm-list::-webkit-scrollbar-thumb {
    background-color: rgba(200,200,200,.7);
}

div.idea-container::-webkit-scrollbar {
    width: 8px;
}

div.idea-container::-webkit-scrollbar-thumb {
    background-color: rgba(200,200,200,.7);
}
 
span.glyphicon-triangle-bottom {
	font-size: .75em;
}

input.form-control {
	margin-bottom: 10px;
}

div#user-search {
	border: 1px solid rgba(150, 150, 150, .5);
	border-radius: 4px;
	margin-top: -10px;
	position: absolute;
	background: white;
	width: 268px;
}

div.each-user {
	border-bottom: 1px solid rgba(150, 150, 150, .5);
	height: 45px;
	padding-left: 11px;
	line-height: 45px;
}

div.each-user:hover {
	background: rgba(220, 220, 220, .5);
	cursor: pointer;
}

ul.dropdown-menu {
	right: 0px;
}

.no-show {
	display: none;
}

#autocomplete {
	top: 60px;
	left: 212px;
	position: absolute;
	width: 200px;	
}

div#user-header {
	width: 700px;
}

div#user-container {
	height: auto;
	width: 685px;
	position: absolute;
	left: 225px;
	top: 150px;
	overflow-y: scroll;
	overflow-x: hidden;
}

div#user-container::-webkit-scrollbar {
    width: 8px;
}

div#user-container::-webkit-scrollbar-thumb {
    background-color: rgba(200,200,200,.7);
}

div.user-profile {
	/*border: 1px solid gray;*/
	height: 160px;
	width: 160px;
	display: inline-block;
	position: relative;
	background-color: rgba(230,230,230,1);
	
}

div.user-pic {
	/*border: 1px solid gray;*/
	width: 160px;
	height: 160px;
	background-size: 100% 100%;
	background-image: url("https://scontent.xx.fbcdn.net/v/t1.0-1/p200x200/1896833_10201724429248014_982080163_n.jpg?oh=c61708318b3beeb385e0a9ea6709b8f1&oe=57A9179A");
}

div.user-name {
	/*border: 1px solid gray;*/
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: 500;
	width: 160px;
	height: 35px;	
	padding-left: 15px;
	padding-top: 8px;
	bottom: 0px;
	position: absolute;
	background-color: rgba(0,0,0,.4);
	color: rgba(255, 255, 255, .8);
	text-align: left;
	white-space: pre-wrap;      /* CSS3 */   
	white-space: -moz-pre-wrap; /* Firefox */    
	white-space: -pre-wrap;     /* Opera <7 */   
	white-space: -o-pre-wrap;   /* Opera 7 */    
	word-wrap: break-word;  
	text-transform: uppercase;
}

.autocomplete-suggestions {
	border: 1px solid gray;	
	background: white;
	overflow: auto;
}

.autocomplete-suggestions::-webkit-scrollbar {
	width: 8px;
}

.autocomplete-suggestions::-webkit-scrollbar-thumb {
	background-color: rgba(200,200,200,.7);
}

.autocomplete-suggestion {
	background: white;
	height: 30px;
	padding-left: 10px;
	padding-top: 5px;
}

.autocomplete-suggestion:hover {
	background: rgba(230, 230, 230, 1);
}

.autocomplete-selected {
	background: rgba(230, 230, 230, 1);
}

i.fa-times-circle-o {
	display: none;
	color: rgba(255, 255, 255, .8);
	bottom: 10px;
	right: 10px;
	position: absolute;
}

div.user-profile:hover i.fa-times-circle-o {
	display: block;
}